<div class="shadow bg-slate-700 text-white">
  <div class="h-16 mx-auto px-5 flex items-center justify-between ml-12">
    <a class="text-2xl hover:text-cyan-400 transition-colors cursor-pointer font-bold" href="/">
      Imabari JET Adventures
    </a>
  </div>
</div>
