---
import Nav from "../components/Nav.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <slot />
  </body>
</html>
<style is:global>
  #heading-text {
    font-size: 3rem;
  }

  h2 {
	margin: 1rem 0 1rem 0 !important;
	font-size: 2.5rem !important;
    font-weight: 600 !important;
  }

  a:hover {
	text-decoration: underline;
  }

  #block-text {
    font-size: 2.5rem;
    font-weight: 600;
  }

  p {
    font-size: 1.1rem;
	line-height: 1.75rem !important;
  }

  img:not(#header, .home-img) {
    border-radius: 4rem;
    margin: 2rem 0;
  }
</style>
